# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/*.pt
data/*.bin

# Editor
.vscode/
.idea/
